<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/main.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
  
  
  <header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			
		<ul class="nav nav-pills">
        <img src="images/web1.jpg" width=70% height=90px>
	    </div>

	</header>
	<div>
	<br>
	<div class="shade">
	<h1 align="center">Welcome to TioTime-CMS</h1>
   	<br><br>
    <br><br><br><br><br>
    <center>
	<a href = '/dashboard'>
	<button class="button123">
	Add Products
	</button>
	</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<a href = '/offer'>
	<button class="button123">
	Add Offers
	</button>
	</a>
	</center>
	</div>
  </body>
</html>
